
@{
    ViewData["Title"] = "BookingComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.BookingCompleteMessage</h3>

<div>
    <a asp-action="index" asp-controller="CustomerBooking">Back to Booking</a>
</div>