
@{
    ViewData["Title"] = "BookingComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.BookingCompleteMessage</h2>

<div>
    <a asp-action="index" asp-controller="CustomerBooking">Back to Booking</a>
</div>