@{
    ViewData["Title"] = "Rooms";
}

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/img/DBed.webp">
                <div class="card-body">
                    <h4 class="card-tittle">Double Bed Room</h4>
                    <p class="card-text">Bright and peaceful with warm wood touches,an area of 25 sqm and come with a queen bed.</p>
                    <button type="button" class="btn btn-primary btn-lg">Booking Now</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/img/16256-114199-f79733401_3xl.jpg">
                <div class="card-body">
                    <h4 class="card-tittle">Twin Room</h4>
                    <p class="card-text">Our Standard Twin Rooms provide the best peaceful haven in the heart of the city.</p>
                    <button type="button" class="btn btn-primary btn-lg">Booking Now</button>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/img/16256-114199-f79733499_3xl.jpg">
                <div class="card-body">
                    <h4 class="card-tittle">Suite</h4>
                    <p class="card-text">Feel luxury with us, our priority is the comfort and relaxation of our guests.</p>
                    <button type="button" class="btn btn-primary btn-lg">Booking Now</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/img/images (3).jpg">
                <div class="card-body">
                    <h4 class="card-tittle">Single Bed Room</h4>
                    <p class="card-text">Our 23 sqm Superior Single Rooms are ideal for solo traveler looking for a comfortable single room with a single bed and a private full bathroom. They provide a comfortable space to relax, work and sleep during your stay..</p>
                    <button type="button" class="btn btn-primary btn-lg">Booking Now</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/img/studio-suite-1.jpg">
                <div class="card-body">
                    <h4 class="card-tittle">Studio</h4>
                    <p class="card-text">A standard double studio room at Space Apart Hotel is more than just a room with a double bed. It’s spacious and luxurious with all the home comforts you need including a fully equipped kitchen.</p>
                    <button type="button" class="btn btn-primary btn-lg">Booking Now</button>
                </div>
            </div>
        </div>
    </div>

</div>