<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Horizon Hotel</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="AdminBooking" asp-action="List"><img src="~/img/Horizon.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Log Out</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log In</a>
                            </li>
                        }

                        @*<li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>*@
                        @*<li class="nav-item">
            <partial name="_LoginPartial" />
        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
        <!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">

        <a class="navbar-brand nav-link text-warning" asp-area="" asp-controller="AdminBooking" asp-action="Index">Admin Dashboard </a>-->
        @*<a class="navbar-brand nav-link text-warning" asp-area="" asp-controller="Home" asp-action="Rooms">Rooms</a>*@

        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-right-top">
                <li class="nav-item">
                    <div id="custom-search" class="top-search-bar">
                        <input class="form-control" type="text" placeholder="Search..">
                    </div>
                </li>
            </ul>
            <ul class="nav nav-pills ex2">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-warning active" asp-area="" asp-controller="Booking" asp-action="Index">Booking</a>
                </li>
            </ul>
        </div>
    </nav>-->
        <!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand nav-link text-warning" asp-area="" asp-controller="AdminRooms" asp-action="Index">Horizon Hotel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-primary" asp-area="" asp-controller="Rooms" asp-action="Index">Room</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" asp-area="" asp-controller="Users" asp-action="Index">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" asp-area="" asp-controller="Privacy" asp-action="Privacy">Privacy</a>
                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search.." aria-label="Search">-->
        @*<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>*@
        <!--</form>
            <ul class="nav nav-pills ex2">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-warning active" asp-area="" asp-controller="Booking" asp-action="Index">Booking</a>
                </li>
            </ul>
        </div>
    </nav>-->
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="~/img/Horizon.png">
                    <hr class="light">
                    <p>555-555-555</p>
                    <p>555-555-555</p>
                    <p>555-555-555</p>
                    <p>555-555-555</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Our Hours</h5>
                    <hr class="light">
                    <p>555-555-555</p>
                    <p>555-555-555</p>
                    <p>555-555-555</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Our Hours</h5>
                    <hr class="light">
                    <p>555-555-555</p>
                    <p>555-555-555</p>
                    <p>555-555-555</p>
                </div>
                <div class="col-12">
                    <hr class="light-100">
                    <h5>&copy; HorizonHotel.com</h5>

                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>