
@{
    ViewData["Title"] = "UserRegisted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.UserCreatedMessage</h4>

<div>
    <a asp-action="Login" asp-controller="Account">Go to Login</a>
</div>