@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 style="text-align:center">Horizon Hotel</h2>
    <img class="img-fluid img-thumbnail" src="https://static.arageek.com/wp-content/uploads/ibda3world/2018/04/Safari-Court-Hotel-Pool.jpg" alt="Responsive image">
    @*<div class="text-block">
            <h4>Nature</h4>
            <p>What a beautiful sunrise</p>
        </div>*@
</div>
<div>
    <div class="row">
        <div class="col-sm-4">
            <img class="rounded-circle img-fluid ex1" src="https://st.depositphotos.com/1092255/1437/i/450/depositphotos_14370469-stock-photo-family.jpg" alt="Family" width="304" height="236">
            <h3 style="color:sandybrown">
                <small>
                    FAMILY
                </small>
            </h3>
            <h4>A family festive season in Sweden</h4>
            <p style="color:brown">During the festive season, Sweden transforms into a winter wonderland full of family-friendly fun.</p>
            <p><a href="">Read more ></a></p>
        </div>
        <div class="col-sm-4">
            <img class="rounded-circle img-fluid ex1" src="https://cdn-images-1.medium.com/max/2000/1*siqenXUFvg4iinAWF7o-ow.jpeg" alt="Wanderlust" width="304" height="236">
            <h3 style="color:sandybrown">
                <small>
                    WANDERLUST
                </small>
            </h3>
            <h4>A sneak peek inside the glamorous world of Horizon Hotel</h4>
            <p style="color:brown">Cool meets classic at this sophisticated beachside escape.</p>
            <p><a href="">Read more ></a></p>
        </div>
        <div class="col-sm-4">
            <img class="rounded-circle img-fluid ex1" src="https://www.holidify.com/images/cmsuploads/compressed/affair-anniversary-asad-1024960_20180828115619.jpg" alt="Romance" width="304" height="236">
            <h3 style="color:sandybrown">
                <small>
                    ROMANCE
                </small>
            </h3>
            <h4>Unforgettable couples experiences at Horizon Hotel.</h4>
            <p style="color:brown">From desert adventures to urban romance, falling in love has never been easier</p>
            <p><a href="">Read more ></a></p>
        </div>
    </div>
    @* Add Text To Img Bootstrap and CSS... *@
    @*<div class="jumbotorn big-banner" style="height: 500px;">
            <div class="col-4">
                <h1 class="display-5">Horizon</h1>
                <p class="lead">Get ksakdsad</p>
            </div>
        </div>*@
</div>
