
@model HorizonHotelWebsite.ViewsModels.BookingViewModels.CustomerBookingViewModel;
@{
    ViewData["Title"] = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Index" method="post" class="form-horizontal container" role="form" >
    <h3>Book a room!</h3>


    <div class="form-group">
        <label asp-for="Room.Type" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select asp-for="Room.Type" asp-items="Html.GetEnumSelectList<HorizonHotelWebsite.Models.Entities.room.RoomType>()" class="form-control">
                <option value="">Choose room type</option>
            </select>
            <span asp-validation-for="Room.Type" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="CheckIn" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="CheckIn" class="form-control" />
            <span asp-validation-for="CheckIn" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CheckOut" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="CheckOut" class="form-control" />
            <span asp-validation-for="CheckOut" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Book" />
        </div>
    </div>

</form>






