@model HorizonHotelWebsite.Models.Entities.booking.Booking

@{
    ViewData["Title"] = "Edit booking";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />


            <div class="form-group">
                <label asp-for="User.UserId" class="control-label"></label>
                <input asp-for="User.UserId" class="form-control" />
                <span asp-validation-for="User.UserId" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Room.RoomId" class="control-label"></label>
                <input asp-for="Room.RoomId" class="form-control" />
                <span asp-validation-for="Room.RoomId" class="text-danger"></span>

            </div>


            <div class="form-group">
                <label asp-for="CheckIn" class="control-label"></label>
                <input asp-for="CheckIn" class="form-control" />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CheckOut" class="control-label"></label>
                <input asp-for="CheckOut" class="form-control" />
                <span asp-validation-for="CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>




