@model HorizonHotelWebsite.ViewsModels.BookingViewModels.AdminBookingViewModel;
@{
    ViewData["Title"] = "Booking";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

<form asp-action="Index" method="post" class="form-horizontal" role="form">
    <h3>Add a booking!</h3>

    <div class="form-group">
        <label asp-for="UserId" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="UserId" class="form-control" />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Room.RoomId" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Room.RoomId" class="form-control" />
            <span asp-validation-for="Room.RoomId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CheckIn" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="CheckIn" class="form-control" />
            <span asp-validation-for="CheckIn" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CheckOut" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="CheckOut" class="form-control" />
            <span asp-validation-for="CheckOut" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Paid" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Paid" class="form-control" />
            <span asp-validation-for="Paid" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>

</form>



